@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  font-family: "Inter var", sans-serif;
}

.appTitle-gradient {
  font-size: 70px;
  font-weight: bolder;
  font-family: "Inter var", sans-serif;
  background: linear-gradient(to right, #42d392, #647eff);
  background-clip: padding-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appTitle {
  margin-bottom: -15px;
  color: #213547;
  font-size: 30px;
  font-weight: 800;
  font-family: "Inter var", sans-serif;
}

.appSubtitle {
  color: #3c3c3c60;
  font-size: 14px;
  font-weight: normal;
  font-family: "Inter var", sans-serif;
}

.inputFieldLabel {
  color: #00000080;
  margin: 1px;
  font-size: 14px;
  font-weight: normal;
  font-family: "Inter var", sans-serif;
}

.inputField {
  padding: 11px 20px;
  margin: 1px 0 0 0;
  box-sizing: border-box;
  background-color: #ebeaea40;
  color: #213547;
  border: 2px solid #ebeaea40;
  border-radius: 7px;
}

.inputField:hover {
  border: 2px solid #42d39260;
}
.inputField:focus {
  border: 2px solid #647eff;
}

.addTitle {
  font-family: "Inter var", sans-serif;
}

@media (max-width: 1024px) {
  .baseImg {
    display: none;
  }

  .appTitle-gradient {
    font-size: 50px;
  }

  .appTitle {
    font-size: 30px;
  }

  .appSubtitle {
    font-size: 12px;
  }

  .noacc {
    text-align: center;
    margin-top: 10px;
  }

  .credits {
    display: none;
  }
}

@media (min-width: 764px) {
  .exit-mb {
    display: none;
  }
}
